#search-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fixed-height {
    height: 600px;
    overflow-y: scroll;
}

.found-file {
    margin-bottom: 7px;
}

.found-file span {
    font-size: 18px;
}

.found-sentence {
    padding-left: 40px;
    padding-bottom: 5px;
}
